{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="card" style="width: 20rem;">
      <a href="artdesc1">
        <img src="/static/art/elvis.jpg" class="card-img-top" alt="..." style="height: 400px;">
      </a>
    </div>
    <div class="card" style="width: 20rem;">
      <a href="artdesc2">
        <img src="/static/art/elsey.jpg" class="card-img-top" alt="..." style="height: 400px;"">
      </a>
    </div>
    <div class="card" style="width: 20rem;">
      <a href="artdesc3">
        <img src="/static/art/curious.jpg" class="card-img-top" alt="..." style="height: 400px;">
      </a>
    </div>
  </div>
{%  endblock %}
