{% extends "layout.html" %}
{% block content %}
  <div class="description">
    <h1>Elsey Come Home</h1>
    <sub>by Susan Conley (Goodreads Author)</sub>
    <p>
      When Elsey's husband, Lukas, hands her a brochure for a weeklong mountain
      retreat, she knows he is really giving her an ultimatum: Go, or we're
      done. Once a successful painter, Elsey set down roots in China after
      falling passionately for Lukas, the tall, Danish MC at a warehouse rave
      in downtown Beijing. Now, with two young daughters and unable to find
      a balance between her identities as painter, mother, and, especially,
      wife, Elsey fills her days worrying, drinking, and descending into
      desperate unhappiness. So, brochure in hand, she agrees to go and
      confront the ghosts of her past.
      <br><br>
      There, she meets a group of men and women who will forever alter the way
      she understands herself: from Tasmin, another (much richer) expat,
      to Hunter, a young man whose courage endangers them all, and,
      most important, Mei--wife of one of China's most famous artists
      and a renowned painter herself--with whom Elsey quickly forges a
      fierce friendship and whose candidness about her pain helps Elsey
       understand her own. But Elsey must risk tearing herself and Lukas
       further apart when she decides she must return to her childhood
       home--the center of her deepest pain--before she can find her way
       back to him.
       <br><br>
       Written in a voice at once wry, sensual, blunt, and hypnotic,
       Elsey Come Home is a modern odyssey and a quietly dynamic
       portrait of contemporary womanhood.
    </p>
  </div>
{%  endblock %}
