{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <a href="comicsdesc1">
      <div class="card" style="width: 20rem;">
        <img src="/static/comics/camouflage.jpg" class="card-img-top" alt="..." style="height: 400px;">
      </div>
    </a>
    <a href="comicsdesc2">
      <div class="card" style="width: 20rem;">
        <img src="/static/comics/chronin.jpg" class="card-img-top" alt="..." style="height: 400px;">
      </div>
    </a>
    <a href="comicsdesc3">
      <div class="card" style="width: 20rem;">
        <img src="/static/comics/die.jpg" class="card-img-top" alt="..." style="height: 400px;">
      </div>
    </a>
  </div>
</div>
{%  endblock %}
