{% extends "layout.html" %}
{% block content %}
  <div class="description">
    <h1>The Knife at Your Back</h1>
    <sub>by Alison Wilgus (Goodreads Author)</sub>
    <p>
      2042, New York City: A day in the life of college student Mirai Yoshida
      means studying Japanese history, learning swordmanship, flirting with her
      TA, and preparing to go back in time to Japan in 1864.
      <br><br>
      But everything changes once she goes back to the past.
      Immediately, Mirai and her classmates are ambushed by rebel samurai.
      Her friends are killed, her time-travel machine is lost, and Mirai ends
      up marooned. In order to survive, she disguises herself as a wandering
      samurai, and is hired by Hatsu, a tea waitress, as bodyguard for her
      travels.
      <br><br>
      The two set out, but neither are prepared for the rebellion simmering
      among the peasants. Mirai has to find her way back to the future soon,
      or else she may be the first casualty on the bloody front lines of a
      conflict that is destined to shape a nation.
    </p>
  </div>
{%  endblock %}
