{% extends "layout.html" %}
{% block content %}
  <div class="description">
    <h1>Camouflage: The Hidden Lives of Autistic Women</h1>
    <sub>by Sarah Bargiela,  Sophie Standing (Illustrator)</sub>
    <p>
      Autism in women and girls is still not widely understood, and is often
      misrepresented or even overlooked. This graphic novel offers an engaging
      and accessible insight into the lives and minds of women with autism,
      using real-life case studies. The charming illustrations lead readers on
      a visual journey of how women on the spectrum experience everyday life,
      from metaphors and masking behaviours to communication online, dealing
      with social pressures and managing relationships.
      <br><br>
      Fun, sensitive and informative, this is a fantastic resource for anyone who
      wishes to understand how gender affects autism, and how to create safer,
      more accommodating environments for women on the spectrum.
    </p>
  </div>
{%  endblock %}
