{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <a href="fantasydesc1">
      <div class="card" style="width: 20rem;">
        <img src="/static/fantasy/enchantee.jpg" class="card-img-top" alt="..." style="height: 400px;">
      </div>
    </a>
    <a href="fantasydesc2">
      <div class="card" style="width: 20rem;">
        <img src="/static/fantasy/fire.jpg" class="card-img-top" alt="..." style="height: 400px;">
      </div>
    </a>
    <a href="fantasydesc3">
      <div class="card" style="width: 20rem;">
        <img src="/static/fantasy/leopard.jpg" class="card-img-top" alt="..." style="height: 400px;">
      </div>
    </a>
  </div>
</div>
{%  endblock %}
